<!DOCTYPE html>
<html>
<head>
  <title>Redeemed by Grace Ministries</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- ensure nav renders properly on mobile devices -->

  <link href='https://fonts.googleapis.com/css?family=Raleway:500,900,200' rel='stylesheet' type='text/css'> <!-- Google font -->

  <!-- favicon code for multiple devices -->
  <%= favicon_link_tag 'images/favicon/favicon.ico' %>
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  <!-- end favicon code -->

</head>
  <body>

    <div class="cover">
      <div class="clearfix"></div>
    </div>

    <div class="jumbotron hidden-xs">
      <div class="container"></div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Logo will go here -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Logo" src="/assets/logo/logo.png" class="logo-img">
          </a>
        </div>

        <div class="navbar-co-title col-sm-4 col-md-4">
          <h4>Redeemed by Grace Ministries</h4>
        </div>

        <div class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'About', about_index_path %></li>
            <li><%= link_to 'Pastor\'s Bio', bio_index_path %></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Staff
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Rev. Alexander', alexander_index_path %></li>
                <li><%= link_to 'Min. Davis', davis_path %></li>
                <li><%= link_to 'Min. Kelley', kelley_index_path %></li>
                <li><%= link_to 'Min. Webb', webb_index_path %></li>
              </ul>
            </li>

            <li><%= link_to 'Contact Us', contact_index_path %></li>
            <li><a href="http://email.rbgminternational.org" target="_blank">Staff Email</a></li>
          </ul>
        </div> <!-- end navbar-collapse collapse div -->
      </div>
    </nav>

    <%= yield %>

    <div class="navbar navbar-inverse navbar-fixed-bottom navbar-brand-bottom" role="navigation">
      <div class="container">
        <div class="navbar-text pull-left">
          <p>Site developed by <a href="http://www.gabeaustin.com" target="_blank">Gabe Austin</a> &copy; 2015</p>
        </div>
        <div class="navbar-text pull-right">
          <a href="https://www.facebook.com/pages/Redeemed-By-Grace-Ministries/390774757783648?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="https://www.youtube.com/channel/UCsL02AK7g5i8Yi0BFMTekRw" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>
          <a href="https://twitter.com/rbgmbham" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
          <a href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site"><i class="fa fa-envelope-square fa-2x"></i></a>
          <a href="tel:6785168433"><i class="fa fa-phone-square fa-2x"></i></a>
        </div>
      </div>
    </div>

  </body>
</html>
