<!DOCTYPE html>
<html>
<head>
  <title>MainSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="cover">
  <div class="clearfix"></div>
</div>

<div class="jumbotron hidden-xs">
  <div class="container"></div>
</div>


<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
    </div>
  </div>
</nav> -->




<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-text pull-left">
      <!-- Logo will go here -->
      <a class="navbar-brand" href="/">
        <img alt="Logo" src="/assets/logo/logo.png" class="logo-img">
      </a>
    </div>

    <div class="navbar-text pull-right">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_index_path %></li>
        <li><%= link_to 'Staff', staff_index_path %></li>
        <li><%= link_to 'Contact Us', contact_index_path %></li>
        <li><a href="http://email.rbgminternational.org" target="_blank">Staff Email</a></li>
      </ul>
    </div>

  </div>
</nav>

<%= yield %>


<div class="navbar navbar-inverse navbar-fixed-bottom navbar-brand-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text pull-left">
      <p>Site developed by <a href="http://www.gabeaustin.com" target="_blank">Gabe Austin</a> &copy; 2015</p>
    </div>
    <div class="navbar-text pull-right">
      <a href="https://www.facebook.com/pages/Redeemed-By-Grace-Ministries/390774757783648?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
      <a href="https://www.youtube.com/channel/UCsL02AK7g5i8Yi0BFMTekRw" target="_blank"><i class="fa fa-youtube-square fa-2x"></i></a>
      <a href="https://twitter.com/rbgmbham" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
      <a href="mailto:info@rbgminternational.org?Subject=Message%20from%20your%20site"><i class="fa fa-envelope-square fa-2x"></i></a>
      <a href="tel:6785168433"><i class="fa fa-phone-square fa-2x"></i></a>
    </div>
  </div>
</div>




</body>
</html>
